<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>All employees</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" th:href="@{/api/home}">Employee Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" class="nav-item">
          <a class="nav-link fs-4" th:href="@{/api/users/page/1?sortField=id&sortDirection=asc}">users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" th:href="@{/api/employees/page/1?sortField=id&sortDirection=asc}">employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" th:href="@{/api/positions/page/1?sortField=id&sortDirection=asc}">positions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-4" th:href="@{/api/departments/page/1?sortField=id&sortDirection=asc}">departments</a>
        </li>
      </ul>
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link fs-4" th:href="@{/api/users/{id}(id=${authenticatedUser.id})}"><span sec:authentication="name" /></a>
        <a class="nav-item nav-link fs-4" th:href="@{/logout}">Logout</a>
      </div>
    </div>
  </div>
</nav>
<div class="container p-3 mt-3 shadow rounded">
  <div class="card">
    <div class="card-header bg-primary text-white fs-3">All employees</div>
    <div class="card-body bg-light">
      <table class="table">
        <thead>
        <tr class="table-primary">
          <th><a th:href="@{'/api/employees/page/' + ${pageNumber} + '?sortField=id&sortDirection='
                        + ${reverseSortDirection}}">ID</a></th>
          <th><a th:href="@{'/api/employees/page/' + ${pageNumber} + '?sortField=firstName&sortDirection='
                        + ${reverseSortDirection}}">First Name</a></th>
          <th>
            <a th:href="@{'/api/employees/page/' + ${pageNumber} + '?sortField=lastName&sortDirection='
                        + ${reverseSortDirection}}">Last Name</a></th>
          <th>
            <a th:href="@{'/api/employees/page/' + ${pageNumber} + '?sortField=position&sortDirection='
                        + ${reverseSortDirection}}">Position</a></th>
          <th>
            <a th:href="@{'/api/employees/page/' + ${pageNumber} + '?sortField=department&sortDirection='
                        + ${reverseSortDirection}}">Department</a></th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee.id}"></td>
          <td th:text="${employee.firstName}"></td>
          <td th:text="${employee.lastName}"></td>
          <td><a class="text-decoration-none" th:href="@{'/api/employees/position/' + ${employee.position.id} + '/page/1' +
                          '?sortField=id&sortDirection=asc'}" th:text="${employee.position.name}"></a></td>
          <td><a class="text-decoration-none" th:href="@{'/api/employees/department/' + ${employee.department.id} + '/page/1' +
                          '?sortField=id&sortDirection=asc'}" th:text="${employee.department.name}"></a></td>
          <td>
            <div class="d-flex flex-row justify-content-evenly gx-3">
              <a th:href="@{/api/employees/{id}(id=${employee.id})}">
                <i class="bi bi-info-square-fill fs-5"></i></a>
              <a th:href="@{/api/employees/edit/{id}(id=${employee.id})}">
                <i class="bi-pencil-square fs-5"></i></a>
              <a th:href="@{/api/employees/delete/{id}(id=${employee.id})}">
                <i class="bi-x-square-fill fs-5"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between align-items-center">
        <div><a class="btn btn-primary" th:href="@{/api/employees/add}">Add employee</a></div>
        <div class="mt-3">
          <nav th:if="${totalPages > 1}">
            <ul class="pagination">
              <li class="page-item disabled" th:if="${pageNumber == 1}"><a class="page-link">Previous</a></li>
              <li class="page-item" th:if="${pageNumber > 1}">
                <a class="page-link" th:href="@{'/api/employees/page/' + ${pageNumber - 1} + '?sortField=id&sortDirection=asc'}">Previous</a></li>
              <li class="page-item">
                <a class="page-link" th:href="@{/api/employees/page/1?sortField=id&sortDirection=asc}">1</a></li>
              <li class="page-item">
                <a class="page-link" th:text="${totalPages / 2 + 1}"
                   th:href="@{'/api/employees/page/' + ${totalPages / 2 + 1} + '?sortField=id&sortDirection=asc'}"></a></li>
              <li class="page-item" th:if="${totalPages > 2}">
                <a class="page-link" th:text="${totalPages}"
                   th:href="@{'/api/employees/page/' + ${totalPages} + '?sortField=id&sortDirection=asc'}"></a></li>
              <li class="page-item" th:if="${pageNumber < totalPages}">
                <a class="page-link" th:href="@{'/api/employees/page/' + ${totalPages} + '?sortField=id&sortDirection=asc'}">Next</a></li>
              <li class="page-item disabled" th:if="${pageNumber == totalPages}"><a class="page-link">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>